/* Clases para la lista de herramientas totales. Por defecto, va a venir como cerrado todo. 
	Una vez clickeado el botón de las herramientas, mostraremos la lista con un evento onclick de jQuery.
	Luego, al pulsar en cada logo, se desplegará todas las herramientas de dicho "institución" [cambiando]
	el display de datos-lista-herramientas que corresponda.
*/

.datos-de-herramienta-lista {
	display:none;
}

.lista-herramientas-totales {
	display:none;
}

div.cabecera-lista-herramientas {
	height: 75px;
	//width: 75px;
	clear: both;
	text-align: left;
}

.logo-institucion-en-cabecera-lista-herramientas {
	height: inherit;

}

.nombre-institucion-en-cabecera-lista-herramientas {
	height: inherit;
}

.nombre-institucion-en-cabecera-lista-herramientas>p {
	position:relative;
	padding-top: 25px;
	padding-bottom: 40%;
}

.cabecera-de-herramienta-lista {
	height: 50px;
}

.logo-de-herramienta, .nombre-de-herramienta, .imagen-logo-herramienta {
	height: inherit;

}

.logo-de-herramienta, .imagen-logo-de-herramienta, .text-herramienta {
	width: 20%;
}

.icono-despliegue {
	margin-top: 17px;
}

.texto-herramienta {
	padding-top: 1%;
	text-align: left;
}

.texto-descripcion-herramienta {
	padding-top:11%;
}
.cabecera-de-herramienta-lista {
	background: 1px solid black;
}

/*
.imagen-logo-herramienta {
	margin-top: 0px;
	width: 70px;
}
*/
@media (max-width:992px) {
	.texto-descripcion-herramienta {
		padding-top:0%;
	}
	.datos-lista-herramientas {
		padding-left:10%;
		padding-right:10%;
	}
}