a {
  color: #676d75; }
  a:hover {
    color: #676d75; }
  a:focus {
    color: #676d75; }

.navbar-default {
  background-color: #363940; }
  .navbar-default .navbar-brand {
    color: #fff; }
    .navbar-default .navbar-brand:focus {
      color: #fff; }
    .navbar-default .navbar-brand:hover {
      color: #fff; }
  .navbar-default .dropdown-menu {
    border: 1px solid #fff;
    border-top: 2px solid #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08); }
  .navbar-default.navbar-fixed-top.navbar-shrink {
    background-color: #363940; }
    .navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand {
      color: #fff; }
      .navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand:hover {
        color: #111; }
    .navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
      color: #a9a9a9; }
  .navbar-default .navbar-nav > li > a {
    color: #a9a9a9; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #fff !important; }
    .navbar-default .navbar-nav > li > a:focus {
      color: #fff !important; }
  .navbar-default .navbar-nav > li.active > a {
    color: #fff !important; }
  .navbar-default .navbar-nav > .open > a {
    color: #fff; }
    .navbar-default .navbar-nav > .open > a:hover {
      color: #fff; }
    .navbar-default .navbar-nav > .open > a:focus {
      color: #fff; }
  .navbar-default .navbar-nav > .active > a {
    background-color: transparent; }
    .navbar-default .navbar-nav > .active > a:hover {
      background-color: transparent; }
    .navbar-default .navbar-nav > .active > a:focus {
      background-color: transparent; }
  .navbar-default .navbar-nav > .active > a {
    color: #fff !important; }
  .navbar-default.navbar-shrink .navbar-nav > li > a:hover {
    color: #fff; }
  .navbar-default.navbar-shrink .navbar-nav > li > a:focus {
    color: #fff; }
  .navbar-default.navbar-shrink .navbar-nav > li.active > a {
    color: #fff;
    box-shadow: inset 0 3px #fff !important; }

.navbar-inverse {
  background-color: #111;
  color: #ccc; }
  .navbar-inverse .navbar-brand {
    color: #ccc; }
  .navbar-inverse .dropdown-menu {
    background-color: #1f1f1f;
    border: 1px solid #111;
    border-top: 2px solid #111; }
    .navbar-inverse .dropdown-menu > li > a {
      color: #ccc; }
      .navbar-inverse .dropdown-menu > li > a:hover {
        color: #111; }
      .navbar-inverse .dropdown-menu > li > a:focus {
        color: #111; }
  .navbar-inverse .navbar-nav > li > a {
    color: #ccc; }
    .navbar-inverse .navbar-nav > li > a:hover {
      color: #111; }
    .navbar-inverse .navbar-nav > li > a:focus {
      color: #111; }
  .navbar-inverse .navbar-nav > li.active > a {
    color: #111; }
  .navbar-inverse .navbar-nav > .active > a {
    background-color: transparent;
    color: #111; }
    .navbar-inverse .navbar-nav > .active > a:hover {
      background-color: transparent;
      color: #111; }
    .navbar-inverse .navbar-nav > .active > a:focus {
      background-color: transparent;
      color: #111; }
  .navbar-inverse .navbar-nav > .open > a {
    color: #111; }
    .navbar-inverse .navbar-nav > .open > a:hover {
      color: #111; }
    .navbar-inverse .navbar-nav > .open > a:focus {
      color: #111; }
  .navbar-inverse.navbar-fixed-top.navbar-shrink {
    background-color: #111; }
    .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
      color: #ccc; }
      .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a:hover {
        background-color: transparent;
        color: #111; }
      .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li > a:focus {
        background-color: transparent;
        color: #111; }
    .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > li.active > a {
      background-color: transparent;
      color: #111; }
    .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a {
      background-color: transparent;
      color: #111; }
      .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a:hover {
        background-color: transparent;
        color: #111; }
      .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav > .active > a:focus {
        background-color: transparent;
        color: #111; }

#text-carousel-intro-section {
  background-color: #a41e33;
  background-image: radial-gradient(farthest-corner, transparent, rgba(0, 0, 0, 0.3));
  background-position: 50% 50%; }

.progress {
  border: 3px solid #363940;
  background-color: transparent; }

.progress-bar {
  background-color: #676d75; }

#cta-section {
  background: #f8f8f8 url(../../img/pat-bg.png) repeat; }

#partners-section {
  background: #f8f8f8 url(../../img/pat-bg.png) repeat; }

#social-section {
  background: #f8f8f8 url(../../img/pat-bg.png) repeat; }

#about-section {
  background: #f8f8f8 url(../../img/pat-bg.png) repeat; }

#cta-section2 {
  background: #f8f8f8 url(../../img/pat-bg.png) repeat; }

.team-hover {
  background: none repeat scroll 0 0 rgba(54, 57, 64, 0.9); }

.prices .price-box-featured .panel-heading {
  background-color: #363940;
  color: #fff; }
.prices .price-box-featured .panel-footer {
  box-shadow: inset 0 -4px 0 #363940; }
.prices .price-box-featured .price-box-ribbon {
  color: #363940; }
.prices .panel-default .panel-heading {
  box-shadow: inset 0 4px 0 #363940; }

#contact-section {
  background-color: #363940; }
  #contact-section .contact .contact-form button {
    background-color: #363940; }
    #contact-section .contact .contact-form button:hover {
      background-color: #676d75; }

.footer-top {
  background-color: #363940; }

.footer {
  background-color: #2d3035; }

.btn-default {
  background: #363940;
  color: #fff; }
  .btn-default:focus {
    background: #363940;
    color: #fff; }
  .btn-default.focus {
    background: #363940;
    color: #fff; }
  .btn-default:active {
    background: #363940;
    color: #fff; }
  .btn-default.active {
    background: #363940;
    color: #fff; }
  .btn-default:hover {
    color: #fff;
    background: #676d75; }

.btn-primary {
  background-color: #3078b3;
  color: #fff; }
  .btn-primary:focus {
    background-color: #3078b3;
    color: #fff; }
  .btn-primary.focus {
    background-color: #3078b3;
    color: #fff; }
  .btn-primary:active {
    background-color: #3078b3;
    color: #fff; }
  .btn-primary.active {
    background-color: #3078b3;
    color: #fff; }
  .btn-primary:hover {
    background-color: #1867a8;
    color: #fff; }

.btn-danger {
  background-color: #e7392d;
  color: #fff; }
  .btn-danger:focus {
    background-color: #e7392d;
    color: #fff; }
  .btn-danger.focus {
    background-color: #e7392d;
    color: #fff; }
  .btn-danger:active {
    background-color: #e7392d;
    color: #fff; }
  .btn-danger.active {
    background-color: #e7392d;
    color: #fff; }
  .btn-danger:hover {
    background-color: #d81508;
    color: #fff; }

.scrolltotop {
  color: #676d75;
  border: 2px solid #676d75; }

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: #676d75;
    border-color: #fff !important; }

  .navbar-default.navbar-shrink .navbar-nav > li.active > a {
    box-shadow: none !important; }

  .navbar-nav > li > a:hover {
    color: #111; }
  .navbar-nav > li > a:focus {
    color: #111; }
  .navbar-nav > li.active > a {
    color: #111; } }
.dropdown-menu > li > a:hover {
  color: #fff; }
.dropdown-menu > li > a:focus {
  color: #fff; }
.dropdown-menu > li > a.active {
  color: #fff; }
.dropdown-menu > .active > a {
  color: #fff; }
  .dropdown-menu > .active > a:hover {
    color: #fff; }
  .dropdown-menu > .active > a:focus {
    color: #fff; }

.navbar-fixed-top.navbar-shrink .navbar-brand {
  color: #ccc; }
  .navbar-fixed-top.navbar-shrink .navbar-brand:focus {
    color: #ccc; }
  .navbar-fixed-top.navbar-shrink .navbar-brand:hover {
    color: #111; }

body.boxed .body .navbar-inverse.navbar-transparent.navbar-shrink .navbar-brand {
  color: #ccc; }

.rotate-box-1.square-icon .rotate-box-icon {
  background-color: #363940; }

.rotate-box-2.square-icon .rotate-box-icon {
  background-color: #363940; }

.active_prot_menu a {
  background: #363940 !important;
  color: #fff !important; }

.portfolio_menu ul li a:hover {
  background: #363940 !important;
  color: #fff !important; }

.portfolio_single_content div {
  background: none repeat scroll 0 0 rgba(54, 57, 64, 0.95); }

#subscribe > button[type="submit"] {
  background: none repeat scroll 0 0 #676d75; }
  #subscribe > button[type="submit"]:hover {
    background: none repeat scroll 0 0 #111; }

.tweet-content span {
  color: #111; }

/*# sourceMappingURL=cool-gray.css.map */
